.image-div {
  padding-left: 20px;
  padding-top: 55px;
  width: 47%;
  max-width: 100%;
  background-image: url("/public/images/recipe-box-homebg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.welcome-header {
  text-align: center;
  text-decoration: bold;
}

.family-create-desc {
  text-align: center;
}

.nav-instruction {
  margin-bottom: 15px;
}