.recipe-card {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    width: 90%;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    position: relative;
    height: 90%;
    background-image: repeating-linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 23px, teal 24px);
    box-shadow: 1px 2px 5px;
}

.recipe-card:hover {
    background-image: repeating-linear-gradient(#1d6787 0px, #1d6787 23px, rgb(255, 255, 255) 24px);
    box-shadow: .5px 1px 2px black;
    transition: .1s;
    color: white;
}