.recipe-page {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 80%;
    padding: 20px;
    overflow-wrap: break-word;
    position: relative;
    height: 90%;
    background-image: repeating-linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 23px, teal 24px);
    box-shadow: 1px 2px 5px;
}

.recipe-page h1 {
    padding: 0;
    margin: 0;
}

.white-fill {
   padding: 20px;
   background-color: rgba(255,255,255,55%);
   border-radius: 10px;
   box-shadow: 0px 0px 29px #ffffff;
}

.instruct {
    margin: 8px;
    font-size: 15px;
}

.ingredients {
    margin: 8px;
    font-size: 15px;
}