.random-recipe-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 80%;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    overflow-wrap: break-word;
    position: relative;
    background-image: repeating-linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 23px, teal 24px);
    box-shadow: 1px 2px 5px;
}