.shopping-list-container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    overflow-wrap: break-word;
    position: relative;
    box-shadow: 1px 2px 5px;
}

.item {
    display: inline;
}

.btn_removeFromList {
    border: none;
    margin-left: 15px;
    background-color: #1d6787;
    color: white;
    border-radius: 4px;
}

.btn_addToList {
    border: 1px solid;
    margin-left: 15px;
    background-color: white;
    color: #1d6787;
    border-radius: 4px;
    display: inline;
}

.btn_addToList:hover {
    margin-left: 15px;
    background-color: #1d6787;
    color: white;
}

.added-to-list {
    display: inline;
    margin-left: 15px;
    color: red;
}

.clear-list-button {
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
}

.nav-button-groceries {
    width: 50%;
    text-align: left;
    padding-top: 12px;
    padding-left: 8px;

}