/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 250px;
    position: absolute;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}
  
.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.btn_modal_delete {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}
  
.btn_open {
    position: absolute;
    bottom: 150px;
}
  
.btn_close_modal {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

.btn_close_modal {
    border: none;
    background-color: rgb(86, 86, 86);
    color: white;
}

.btn_close_modal:hover {
    background-color: rgb(19, 19, 19);
    transition: .3s;
}

.btn_modal_delete {
    display: inline-block;
    padding: 10px;
    border:0;
    border-radius: 4px;
    background-color: #ff6969;
    color: #f8f8f8;
    font-size: 15px;
    width: 30%;
    box-shadow: 1px 2px 5px black;
}
  
.btn_modal_delete:hover {
    background-color: #ff0000;
    box-shadow: .5px 1px 2px black;
    transition: .5s;
}

.modal_delete_container {
    position: relative;
}