



.link-div {
    padding-bottom: 20px;
}

.invite-container {
    /* margin: auto; */
    margin-top: 40px;
    margin-left: 22.5%;
    background-color: #ffffff;
    padding-top: .5px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    width: 40%;
    text-align: center;
    border-radius: 24px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 5px black;
}

.btn_invite {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #1d6787;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .btn_invite:hover {
    background-color:  #10455c;
    color: white;
    transition: .2s;
  }

  .pop-up {
    bottom: 50px;
  }

  .invitation-input {
    height: 1.1rem;
    padding: 5px 10px;
    font-size: 20px;
    width: 85%;
    word-break: break-word;
}

.link-copied {
    color: red;
    padding-top: 10px;
}